@import "normalize.styl"

gris_claro = #818181
gris_oscuro = #333333

a
	text-decoration none

body
	font-family 'Varela Round', sans-serif
	font-size 16px
	
figure
	margin 0

//Botones
.button-menu
	position absolute
	top 50%
	margin-top -10px
	left .5em

//oocss Clases
.border-bottom
	border-bottom 1px solid gris_claro

.container
	padding 1.4rem
	font-size 0
	text-align center
	
.name
	color gris_oscuro
	
.menu
	display none

.relative
	position relative

.singer
	color gris_claro

.header
	height 3.5em
	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em

.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	width 8rem
	text-align left
	
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0
		